# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# bin folder
bin
out
scripts/rsu_placement/output
sim_results

# eclipse's files
.settings
.classpath
.project


